/*Fonts and imports*/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

/*Variables*/
:root {
  --grayBGR: #eee;
  --grayBorder: #e5e5e5;
  --lightGray: #999999;
  --greenProgress: #00b797;
  --lightGreenProgress: #f2fbfa;
  --mainText: #333333;
}

/*Common styles*/
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  background-color: var(--grayBGR);
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.widget {
  width: 820px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  padding: 24px 18px 18px 18px;
  border: 1px solid var(--grayBorder);
  border-radius: 11px;
}
.mainContent {
  width: 100%;
}

.error {
  padding: 25px;
  background: white;
  border: 1px solid var(--grayBorder);
  border-radius: 5px;
}
