.progress {
  width: 98%;
  background: var(--lightGreenProgress);
  justify-content: flex-start;
  border-radius: 24px;
  align-items: center;
  position: relative;
  display: flex;
  height: 24px;
  margin-bottom: 24px;
}
